Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out the oldest student in the class:
<ul>
  <li>
    Name: <%= @student.name %>
  </li>
  <li>
    Birthday: <%= @student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= @student.hometown.capitalize %>
  </li>
</ul>
